{
  "semi": false,
  "singleQuote": false,
  "printWidth": 300,
  "bracketSpacing": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-organize-imports"],
  "organizeImportsSkipDestructiveCodeActions": true
}
