.curd-form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  &:not(.el-form--inline) {
    .el-form-item {
      flex: 0 0 100%;
      box-sizing: border-box;
    }
  }
  .form-item {
    width: 100%;
    display: flex;
    .tooltip {
      color: var(--el-button-text-color);
      margin-left: 10px;
      vertical-align: middle;
      color: #999;
      &:hover {
        color: var(--color-primary);
      }
    }
  }

  .el-checkbox-group {
    &.single {
      .el-checkbox-button {
        + .el-checkbox-button {
          margin-left: 10px;
        }
        .el-checkbox-button__inner {
          border: var(--el-border);
          border-radius: var(--el-border-radius-base);
          padding-left: 20px;
          padding-right: 20px;
        }
        &.is-checked {
          .el-checkbox-button__inner {
            border-color: var(--el-checkbox-button-checked-border-color);
          }
        }
      }
    }
  }
  .tooltip {
    color: var(--el-button-text-color);
    margin-left: 10px;
    vertical-align: middle;
  }
}
.schema-form-select-check {
  height: 25px;
  margin-left: 20px;
  margin-top: 10px;
  display: block;
  :deep(.el-checkbox__input) {
    vertical-align: middle;
  }
}
