.curd-form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  &:not(.el-form--inline) {
    .el-form-item {
      flex: 0 0 100%;
    }
  }
  .form-item {
    width: 100%;
    display: flex;
    .tooltip {
      color: var(--el-button-text-color);
      margin-left: 10px;
      vertical-align: middle;
      color: #999;
      &:hover {
        color: var(--color-primary);
      }
    }
  }

  .el-checkbox-group {
    &.single {
      .el-checkbox-button {
        + .el-checkbox-button {
          margin-left: 10px;
        }
        .el-checkbox-button__inner {
          border: var(--el-border);
          border-radius: var(--el-border-radius-base);
          padding-left: 20px;
          padding-right: 20px;
        }
        &.is-checked {
          .el-checkbox-button__inner {
            border-color: var(--el-checkbox-button-checked-border-color);
          }
        }
      }
    }
  }
  .tooltip {
    color: var(--el-button-text-color);
    margin-left: 10px;
    vertical-align: middle;
  }

  /*文件上传*/
  .file-uploader-single {
    .single-img {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .single-video {
    }
    .el-upload--picture-card {
      position: relative;
      text-align: center;
      overflow: hidden;
      .el-upload_input {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
        opacity: 0;
      }

      .file-main {
        text-align: center;
        > i {
          margin: 42px 0 10px;
        }
        line-height: 1;
        .title {
          width: 110px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          margin: 0 auto;
          text-align: center;
          padding: 10px 0;
        }
      }

      .el-upload-list__item-actions {
        opacity: 0;
        position: absolute;
        line-height: normal;
        top: 4px;
        right: 6px;
        background-color: transparent;
        z-index: 1;
        .el-button {
          margin: 0;
          padding: 0;
          font-size: 14px;
          color: #ff6500;
          height: 26px;
          width: 26px;
          text-align: center;
          .el-icon {
            font-size: 14px;
          }
          &:hover {
            background: #eee;
          }
        }
        .el-icon-download {
          margin-right: 10px;
        }
      }
      .el-progress {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform: none;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
        z-index: 100;
        .el-progress-circle {
          margin: 0 auto;
          padding-top: 10px;
        }
        .el-progress__text {
          color: #ffffff;
        }
      }
    }
    &:hover {
      .el-upload--picture-card {
        .el-upload-list__item-actions {
          opacity: 1;
        }
      }
    }
  }
  [class*="icon-document-"] {
    width: 36px;
    height: 36px;
    display: inline-block;
    vertical-align: top;
    background-size: 100% 100%;
  }
  .icon-document-pdf {
    background-image: url(../icons/document/pdf.svg);
  }
  .icon-document-csv {
    background-image: url(../icons/document/csv.svg);
  }
  .icon-document-xls,
  .icon-document-xlsx {
    background-image: url(../icons/document/xls.svg);
  }
  .icon-document-doc,
  .icon-document-docx {
    background-image: url(../icons/document/doc.svg);
  }
  .icon-document-txt {
    background-image: url(../icons/document/txt.svg);
  }
  .icon-document-zip {
    background-image: url(../icons/document/zip.svg);
  }
  .icon-document-rar {
    background-image: url(../icons/document/rar.svg);
  }
  .icon-document-image {
    background-image: url(../icons/document/image.svg);
  }

  .schema-form-radio {
    &.single {
      .el-radio-button {
        + .el-radio-button {
          margin-left: 10px;
        }
        .el-radio-button__inner {
          border: var(--el-border);
          border-radius: var(--el-border-radius-base);
          padding-left: 20px;
          padding-right: 20px;
        }
        &.is-active {
          .el-radio-button__inner {
            border-color: var(--el-radio-button-checked-border-color);
          }
        }
      }
    }
    .el-radio__label {
      > span {
        vertical-align: middle;
      }
    }
  }
  .empty {
    color: #999;
    .el-icon,
    span {
      vertical-align: middle;
    }
  }
}
.schema-form-select-check {
  height: 25px;
  margin-left: 20px;
  margin-top: 10px;
  display: block;
  :deep(.el-checkbox__input) {
    vertical-align: middle;
  }
}
