.table-filter {
  display: flex;
  flex-direction: column;
  position: relative;
  .filter-search-box {
    min-height: 32px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--el-border-color);
    display: flex;
    min-width: 460px;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-radius: var(--el-border-radius-base);
    transition: all 0.3s;

    &.is-focus {
      border-color: var(--el-color-primary);
    }

    .filter-action {
      height: 32px;
      line-height: 32px;
      align-self: flex-end;
      display: flex;

      div {
        cursor: pointer;
      }

      .empty {
        color: var(--el-color-info);
        margin-right: 15px;
        padding-left: 10px;

        &:hover {
          color: var(--el-color-primary);
        }
      }

      .search {
        // width: 96px;
        padding: 0 20px;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;

        &:before {
          content: "";
          display: block;
          width: 1px;
          height: 20px;
          background: var(--el-border-color);
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        &:hover {
          color: var(--el-color-primary);
        }
      }
    }
  }
  .filter-external {
    .el-form-item {
      margin-bottom: 10px;
    }
  }
  .filter-tags {
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-items: center;
    .tag-title {
      font-size: 12px;
      color: var(--el-text-color-placeholder);
      height: 24px;
      line-height: 24px;
      margin: 0 15px 5px 0;
    }
    .dropdown-toggle {
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-items: center;
      font-size: 12px;
    }
    .tag-list {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
    }
    .tag-item {
      height: 24px;
      line-height: 24px;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-items: center;
      padding: 0 10px;
      color: var(--el-color-info-dark-2);
      background: var(--el-color-info-light-9);
      font-size: 12px;
      border-radius: var(--el-border-radius-base);
      margin-right: 5px;
      margin-bottom: 10px;
      cursor: pointer;
      .action {
        color: var(--el-color-info-light-5);
        text-align: center;
        width: 14px;
        height: 14px;
        line-height: 14px;
        border-radius: 50%;
        margin-left: 10px;
        font-size: 14px;
        cursor: pointer;
        &:hover {
          color: var(--el-color-primary);
        }
      }
    }
  }
  .tag-clear {
    margin-bottom: 2px;
    margin-left: 10px;
  }
  .filter-item {
    .base-select {
      --el-font-size-base: 12px;
      height: 100%;
      max-height: 300px;
      display: flex;
      flex-direction: column;

      .el-input {
        .el-input__wrapper {
          box-shadow: none !important;
        }
      }

      .remote-input {
        width: 100%;

        .el-input {
          --el-input-border-radius: 0;
          --el-input-bg-color: var(--el-bg-color-page);
          --el-input-border: none;
          --el-input-hover-border-color: transparent;
          --el-input-focus-border-color: var(--el-border-color);
        }
      }

      .el-empty__image svg {
        height: 50px;
      }

      .select-spinner {
        flex: 1;
        position: relative;
        overflow-y: auto;

        ul {
          li {
            list-style: none;
            padding: 6px 10px;
            cursor: pointer;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: var(--el-font-size-base);

            &.active {
              color: var(--el-color-primary);
            }

            &:hover {
              background: var(--el-color-primary-light-9);
              color: var(--el-color-primary);
            }
          }
        }
      }
    }
  }
}
.table-filter-type {
  box-shadow: var(--el-box-shadow-light);
  background: var(--el-bg-color);
  z-index: 3060;
  min-width: 150px;
  max-height: 300px;
  overflow: hidden;
  --el-font-size-base: 12px;
  .base-select {
    --el-font-size-base: 12px;
    height: 100%;
    max-height: 300px;
    display: flex;
    flex-direction: column;

    .remote-input {
      width: 100%;
      .el-input {
        --el-input-border-radius: 0;
        --el-input-bg-color: var(--el-bg-color-page);
        --el-input-border: none;
        --el-input-hover-border-color: transparent;
        --el-input-focus-border-color: var(--el-border-color);
      }
    }
    .el-empty__image svg {
      height: 50px;
    }
    .select-spinner {
      flex: 1;
      position: relative;
      overflow-y: auto;
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          padding: 6px 10px;
          cursor: pointer;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          box-sizing: border-box;
          font-size: var(--el-font-size-base);
          &.active {
            color: var(--el-color-primary);
          }
          &:hover {
            background: var(--el-color-primary-light-9);
            color: var(--el-color-primary);
          }
        }
      }
    }
  }
}
.table-filter-toggle {
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 120px;
  font-size: 12px;
  .current-filter-label {
    margin-right: 20px;
  }
}
.table-filter-List {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  background: var(--el-bg-color);
  z-index: 3060;
  border-radius: 2px;
  max-height: 300px;
  overflow-y: auto;
  font-size: 12px;
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    li {
      width: 100%;
      list-style: none;
      padding: 6px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      box-sizing: border-box;
      cursor: pointer;
      &:hover {
        background: var(--el-color-primary-light-9);
        color: var(--el-color-primary);
      }
      &.active {
        color: var(--el-color-primary);
        font-weight: 600;
      }
    }
  }
}
.table-filter-tag-popper {
  max-height: 400px;
  overflow: auto;
  padding: 0 !important;
  width: 250px !important;
  .select-list {
    .item {
      line-height: 18px;
      cursor: pointer;
      padding: 6px 10px;
      font-size: 12px;
      &:hover {
        background-color: var(--el-fill-color-light);
      }
      &.active {
        color: var(--el-color-primary);
        font-weight: 700;
      }
    }
  }
}
